body{
    background-color: rgba(211, 117, 117, 0.959);
}

.logo{
    display: inline-block;
    position:absolute;
    margin: 3% 0 0 6%; 
}

.caja-ingreso-texto{
    position: absolute;
    left: 17%;
    top: 16%;
    width: 40%;
    height: 5%;
    padding: 15px;
}


.campo-texto{
    position: relative;
    height: auto;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    border: none;
}

.campo-texto::placeholder{color: #0A3871;}

.info{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    
    color: #0A3871;

    position: absolute;
    top: 81%;
    left: 18%;
}

.caja-botones{
    display: inline-block;
    position: absolute;
    padding: 10px;
    width: 80%;
    top: 86%;
    left: 17%;
}

.caja-botones input{
    text-align: center;
    padding: 24px;

}

.boton-encriptar{

    width: 30%;
    height: 7%;

    /* Dark blue/dark-blue-300 */
    color: #fefefe;
    background: #0A3871;
    border-radius: 24px;

}

.boton-desencriptar{

    width: 30%;
    height: 7%;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

}

.caja-botones input:hover{
    box-shadow: 10px 10px 0 black;
    transition: 0.9s;
}

.caja-botones input:active{
    transform: scale(0.9);
    transition: 0s;
}



.area-resultado{
    
    width: 28%;
    height: 92%;
    
    position: absolute;
    left: 69%;
    top: 3%;

    /* White */

    background: #D8DFE8;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    /*Contenido*/
    text-align: center;

}

.area-resultado:hover{
    box-shadow: 10px 10px 0 black;
    transition: 0.95s;
}

.resultado-1{
    text-align: center;
    position: absolute;
    top: 25%;

}

#mensaje1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

#mensaje2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.resultado-2{
    position: absolute;
    top: 3%;
    height: 95%;
    width: 100%;

    visibility: hidden;
}


.mensaje-resultado{
    position: relative;
    height: 90%;
    margin-bottom: 5%;
}

#resultado{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #495057;
    border: none;
}

.caja-boton-copiar{
    position: relative;
    display: inline-block;
    width: 100%;
}

#boton-copiar{
    width: 90%;
    padding: 6.5%;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

#boton-copiar:hover{
    border: darkorange solid;
}

#boton-copiar:active{
    transform: scale(0.98);
    
}