body{
    background-color: lightslategrey;
}

.logo{
    display: inline-block;
    position:absolute;
    margin: 3% 0 0 6%; 
}

.caja-ingreso-texto{
    position: absolute;
    left: 17%;
    top: 16%;
    width: 40%;
    height: 5%;
    padding: 15px;
}


.campo-texto{
    position: relative;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    border: none;
}

.campo-texto::placeholder{color: #0A3871;}

.info{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    
    color: #0A3871;

    position: absolute;
    top: 81%;
    left: 18%;
}

.caja-botones{
    display: flex;
    padding: 10px;
    position: absolute;
    width: 80%;
    top: 86%;
    left: 17%;
    gap: 2%;
}

.caja-botones input{
    text-align: center;
    padding: 24px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.boton-encriptar{

    width: 23%;
    height: 7%;

    /* Dark blue/dark-blue-300 */
    color: #fefefe;
    background: #0A3871;
    border-radius: 24px;

}

.boton-desencriptar{
    box-sizing: border-box;

    width: 23%;
    height: 7%;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

}

.caja-botones input:hover{
    outline: darkorange solid;
}

.caja-botones input:active{
    transform: scale(0.98);
}



.area-resultado{
    
    position: absolute;
    width: 28%;
    height: 92%;
    left: 69%;
    top: 3%;

    /* White */

    background: #fefefe;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    /*Contenido*/
    text-align: center;

}

.imagen-muñeco{
    margin: 50% 0 0 0;
}

.caja-info-resultados{
    text-align: center;
    display: flex;
    width: 23%;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    gap: 2%;

    position: absolute;
    top: 60%;
    left: 69%;

    background-color: whitesmoke;
}



#mensaje1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

#mensaje2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}